<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-6 d-flex flex-row">
        <p class="credit">Dmytro Zabolotnii, Yana Halas, Tetiana Shtym</p>
      </div>
      <div class="col-6 d-flex flex-row-reverse">
        <a href="https://github.com/Dechukni/dtw-project"
           target="_blank"
           rel="noopener"
           class="social-link"
           attr.aria-label="Github link">
          <p class="credit">Github</p>
        </a>
      </div>
    </div>
  </div>
</div>
