<div class="container">
  <div class="row">
    <div class="col-4">
      <form [formGroup]="form" (ngSubmit)="runEditDistance()">
        <div class="form-fields">
            <mat-form-field class="full-width">
              <input
                matInput
                formControlName="firstString"
                type="text"
                placeholder="Insert String 1">
              <mat-error *ngIf="form.controls['firstString'].hasError('required')">
                Field is required
              </mat-error>
              <mat-error *ngIf="form.controls['firstString'].hasError('pattern')">
                Must be a single string
              </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width">
              <input
                matInput
                formControlName="secondString"
                type="text"
                placeholder="Insert String 2">
              <mat-error *ngIf="form.controls['secondString'].hasError('required')">
                Field is required
              </mat-error>
              <mat-error *ngIf="form.controls['secondString'].hasError('pattern')">
                Must be a single string
              </mat-error>
            </mat-form-field>
        </div>
        <button class="mt-3" type="submit" mat-raised-button color="primary">Run Edit Distance</button>
      </form>
    </div>
    <div class="col-8">
      <div class="distance" *ngIf="distance">
        <span>Distance:</span> {{ distance }}
      </div>
      <div class="mt-3 formula">
        <ng-container *ngIf="hovered !== undefined">
          <span class="item">{{ hovered }}</span>
          =
          <span class="formula__min">
          MIN(
            <ng-container *ngFor="let s of siblings; let last = last; let index = index">
              <span class="formula__if" *ngIf="index === 0">
                <span class="item">{{ s }}</span>
                + (IF
                <span class="item parent-cell">{{ parentColumnItem }}</span>
                ==
                <span class="item parent-cell">{{ parentRowItem }}</span>
                THEN 0 ELSE 1),
              </span>
              <span class="item" *ngIf="index !== 0">{{ s }} + 1</span>
              <span class="coma" *ngIf="index === 1">,</span>
            </ng-container>
          )
        </span>
          =
          <span class="formula__result">
          MIN(
            <span>{{ siblings[1] + (parentRowItem === parentColumnItem ? 0 : 1) }}</span>,
            <span>{{ siblings[0] + 1 }}</span>,
            <span>{{ siblings[2] + 1 }}</span>
          )
        </span>
        </ng-container>
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-12 overflow-auto">
      <table *ngIf="resultMatrix" [ngClass]="getTableSize()">
        <tr>
          <td class="sequence-cell cell-corner"></td>
          <td class="sequence-cell cell-corner"></td>
          <ng-container *ngFor="let item of firstStringItems; let column = index">
            <td class="sequence-cell" [ngClass]="{highlight: hoverColumn - 1 === column }">
              {{ item }}
            </td>
          </ng-container>
        </tr>

        <tr *ngFor="let row of resultMatrix; let rowIndex = index">
          <td class="sequence-cell"
              [ngClass]="{highlight: hoverRow === rowIndex }"
              *ngIf="rowIndex !== 0">{{ secondStringItems[rowIndex - 1] }}</td>
          <td class="sequence-cell cell-corner" *ngIf="rowIndex === 0"></td>

          <ng-container *ngFor="let cell of row; let cellIndex = index">
            <td *ngIf="rowIndex === 0 || cellIndex === 0; else tableCell"
                class="helper-cell"
                [highlight]="[rowIndex, cellIndex]"
                [highlightDiagonal]="true"
                [hovered]="[hoverRow, hoverColumn]">
              {{ cell }}
            </td>
            <ng-template #tableCell>
              <td [highlight]="[rowIndex, cellIndex]"
                  [hovered]="[hoverRow, hoverColumn]"
                  [path]="path"
                  [highlightDiagonal]="true"
                  (mouseover)="onMouseOver(rowIndex, cellIndex)"
                  (mouseleave)="onMouseLeave()">
                {{ cell }}
              </td>
            </ng-template>
          </ng-container>
        </tr>
      </table>
    </div>
  </div>
</div>
