<form [formGroup]="form" (ngSubmit)="runDtw()">
    <div class="form-fields">
        <mat-form-field class="full-width">
            <input matInput formControlName="firstSequence" type="text" placeholder="Insert Sequence 1">
        </mat-form-field>
        <mat-form-field class="full-width">
            <input matInput formControlName="secondSequence" type="text" placeholder="Insert Sequence 2">
        </mat-form-field>
    </div>
    <button type="submit" mat-raised-button color="primary">Run DTW</button>
</form>

<div class="visualizer">
    <table>
        <tr>
            <td class="sequence-cell cell-corner"></td>
            <td class="sequence-cell" *ngFor="let item of firstSequenceItems">
                {{ item }}
            </td>
        </tr>
        <tr *ngFor="let item of secondSequenceItems">
            <td class="sequence-cell">{{ item }}</td>
            <td *ngFor="let empty of firstSequenceItems"></td>
        </tr>
    </table>
</div>
