@import "../../assets/table";

.distance {
  > span {
    font-weight: bold;
    color: #3f51b5;
  }
}

.formula {
  min-height: $box-size;

  > span {
    line-height: 1.1 * $box-size;
  }

  > .item {
    background-color: $hoverBg;
  }

  .item {
    display: inline-block;
    text-align: center;
    line-height: $box-size;
    width: $box-size;
    height: $box-size;
    border: $border
  }

  &__abs {
    .item {
      background-color: $parentBg;
    }
  }

  &__min {
    .item {
      background-color: $siblingBg;
    }
    .coma {
      padding: 5px;
    }
  }
}
