$box-size: 50px;
$border: 1px solid black;
$parentBg: #64b5f6;
$hoverBg: #66bb6a;
$siblingBg: #ffee58;
$diagonalBg: #ffb300;

table {
  outline: 0;
  border: none;
  border-collapse: collapse;
  border-spacing: 0;

  td:not(.sequence-cell):not(.helper-cell) {
    cursor: pointer;
    &:hover {
      background-color: $hoverBg;
    }
  }

  td.sequence-cell.highlight {
    background-color: $parentBg;
    color: black;
  }

  td.highlight {
    background-color: $siblingBg;
  }

  td.highlight.diagonal {
    background-color: $diagonalBg;
  }

  td {
    border: $border;
    text-align: center;
  }

  td.sequence-cell {
    border: 1px transparent solid;
    border-right: 0 #ddd solid;
    border-bottom: 0 #ddd solid;
    color: #999;
    min-width: $box-size;
    line-height: $box-size;
    text-align: center;
    vertical-align: middle;
  }

  .helper-cell {
    min-width: $box-size;
    line-height: $box-size;
    background-color: #e0e0e0;
  }
}
