// ==========================================================================
// Global style
// ==========================================================================

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.full-width {
  width: 100%;
}

// ==========================================================================
// Material components
// ==========================================================================

// Material Toolbar
// ==========================================================================

.mat-toolbar-row {
  justify-content: space-between;
}
