// ==========================================================================
// Global style
// ==========================================================================

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.full-width {
  width: 100%;
}

.overflow-auto {
  overflow: auto;
}

.display-mobile-none {
  @media only screen and (max-width: 767px) {
    display: none;
  }
}

// ==========================================================================
// Material components
// ==========================================================================

// Material Toolbar
// ==========================================================================

.mat-toolbar-row {
  justify-content: space-between;

  @media only screen and (max-width: 767px) {
    height: 100% !important;
    flex-direction: column !important;
    justify-content: space-around;
  }
}
