$box-size: 50px;
$border: 1px solid black;
$parentBg: #64b5f6;
$hoverBg: #b39ddb;
$siblingBg: #ffee58;
$diagonalBg: #ffb300;
$pathBg: #66bb6a;

table {
  outline: 0;
  border: none;
  border-collapse: collapse;
  border-spacing: 0;

  td:not(.sequence-cell):not(.helper-cell) {
    @media only screen and (min-width: 768px) {
      cursor: pointer;
      &:hover {
        background-color: $hoverBg;
      }
    }
  }

  td.sequence-cell.highlight {
    @media only screen and (min-width: 768px) {
      background-color: $parentBg;
      color: black;
    }
  }

  td.highlight {
    @media only screen and (min-width: 768px) {
      background-color: $siblingBg;
    }
  }

  td.highlight.diagonal {
    @media only screen and (min-width: 768px) {
      background-color: $diagonalBg;
    }
  }

  td {
    border: $border;
    text-align: center;
  }

  td.sequence-cell {
    border: 1px transparent solid;
    border-right: 0 #ddd solid;
    border-bottom: 0 #ddd solid;
    color: #999;
    min-width: $box-size;
    line-height: $box-size;
    text-align: center;
    vertical-align: middle;
  }

  .helper-cell {
    min-width: $box-size;
    line-height: $box-size;
    background-color: #e0e0e0;
  }

  .path {
    background-color: $pathBg;
  }
}

.table-small {
  td {
    min-width: 0.8 * $box-size !important;
    line-height: 0.8 * $box-size !important;
  }
}

.table-tiny {
  td {
    min-width: 0.6 * $box-size !important;
    line-height: 0.6 * $box-size !important;
  }
}

@media only screen and (max-width: 767px) {
  td {
    min-width: 0.5 * $box-size !important;
    line-height: 0.5 * $box-size !important;
  }
}
